{% extends 'CMS/base.html' %}
{% load static %}
{% load mptt_tags %}


{% block head %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CMS/templates/v1/css/styles.css' %}" />
    <script defer src="{% static 'CMS/templates/v1/js/scripts.js' %}"></script>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-light navbar-expand-md py-3">
        <div class="container container-top">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="{% static 'CMS/templates/v1/img/logo.png' %}" style="height: 8vh;"><span></span>
            </a>
            <div class="d-none d-md-block">
                <span class="fs-2 fw-normal text-warning">Библиотека поселка Красное</span>
            </div>
            <span class="fs-2 fw-normal text-warning" id="time"></span>
        </div>
    </nav>
    <div class="row row-main" style="margin-top: 0;height: 90vh;margin-left: 5px;margin-right: 5px;">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" style="height: 90vh; padding-right: 0px;">
            <div class="container d-flex flex-column align-items-start" style="height: 100%; padding-right: 0px;">
                {% for index in indexes %}
                <div class="row row-el align-items-center">
                    <a class="col col-el align-items-center" href="{% url 'index' index=index.id %}"><h3>{{ index.name }}</h3></a>
                </div>
                    {% for subindex in index.get_childrens %}
                        <div class="row row-el align-items-center">
                            <a class="col col-el align-items-center" href="{% url 'index' index=subindex.id %}"><h3>{{ subindex.name }}</h3></a>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="col content">
            {{ content.content | safe }}
        </div>
    </div>

{% endblock %}