
body {
	height: 100%;
}

.body {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.header {
    background-color: blue;
    margin: 0;
    padding: 5px;
    flex: 0 1 auto;
}

.content {
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
    display: flex;
    width: 100%;
}

.nav {
    background-color: grey;
    margin: 0;
    flex: 1 1 auto;
    padding: 10px;
}

.material {
    flex: 7 1 0;
    margin: 0;
    padding: 10px;
}